################################################################################
# 此 .gitignore 文件已由 Microsoft(R) Visual Studio 自动创建。
################################################################################

/WindowGlows/WindowGlows/bin/Debug
/WindowGlows/WindowGlows/obj/Debug
/WindowGlows/WindowGlowsTestApp/bin/Debug
/WindowGlows/WindowGlowsTestApp/obj/Debug
/WindowGlows/.vs/WindowGlows/v14/.suo
